@{
    ViewData["Title"] = "Driver";
}

<div class="row ">
    <div class="col-md-6">
        <h6 class="font-weight-bolder va-title v-color">Drivers</h6>
    </div>
    <div class="col-md-6 text-end">
        <a href="~/Admin/orders/add" class="btn btn-sm v-bg-color text-white">
            <i class="fa fa-plus text-xs me-2"></i>
            Add Driver
        </a>
    </div>
</div>

<div class="row ">
    <div class="col-md-12">
        <div class="card input-group p-3">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" class="form-control form-control-sm" id="divName" placeholder="Full Name" aria-label="Username">
                </div>
                <div class="col-md-3">
                    <input type="date" class="form-control form-control-sm" id="divCreatedOn" placeholder="">
                </div>
                <div class="col-md-6 text-end">
                    <button class=" btn btn-sm m-0 bg-success text-capitalize text-white" onclick="searchDetails()">
                        <i class="fa fa-search text-xs me-2"></i>
                        Search
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="card m-0 rounded-2">
            <div class="card-header pt-2 pb-0 ps-3 bg-gray-100">
                <h6 class="text-sm">Order List</h6>
            </div>
            <div class="card-body p-0 p-2">
                <table id="table" class="table align-items-center mb-0 table-striped dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th class="text-xs font-weight-bolder ps-3 v-color">Action</th>
                            <th class="text-xs font-weight-bolder ps-2 v-color">Order ID</th>
                            <th class="text-xs font-weight-bolder ps-2 v-color">Full Name</th>
                            <th class="text-xs font-weight-bolder ps-2 v-color">Mobile</th>
                            <th class="text-xs font-weight-bolder ps-2 v-color">Order Date </th>
                            <th class="text-xs font-weight-bolder ps-2 v-color">Status</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>

        $(document).ready(function () {
            searchDetails()
        });
    </script>
    <script type="text/javascript">
        function searchDetails() {
            $(document).ready(function () {
                $('#table').DataTable({
                    "processing": false,
                    "serverSide": true,
                    "filter": true,
                    "searching": false,
                    "scrollX": true,
                    "bSort": false,
                    "sScrollY": true,
                    "searchDelay": 10,
                    "destroy": true,
                    "scrollY": "240px",
                    "scrollCollapse": true,
                    "paging": false,
                    "ajax": {
                        "url": '@Url.Content("~/admin/Orders/GetOrders")',
                        "type": "POST",
                        "datatype": "json",
                        "data": {
                            FullName: $('#divName').val(),
                            CreatedOn: $('#divCreatedOn').val(),
                        },
                    },
                    "columnDefs": [{
                        targets: [0], render: function (data, type, row, meta) {
                            return '<p type="button" class="text-xs text-primary mb-0 ms-3 font-weight-bolder" onclick="details(' + row.id + ')">' + row.id + '</p>'
                        },
                    }],
                    "columns": [
                        { "data": "id", "name": "id", "autoWidth": true },
                        { "data": "orderID", "status": "orderID", "autoWidth": true },
                        { "data": "fullName", "status": "fullName", "autoWidth": true },
                        { "data": "mobile", "status": "mobile", "autoWidth": true },
                        {
                            "data": "createdOn", "name": "createdOn", "autoWidth": true,
                            render: function (data) {
                                var formattedDate = moment(data).format('DD-MM-YYYY');
                                var formattedTime = moment(data).format('hh:mm a');
                                return formattedDate + ', ' + '<span class="text-xs">' + formattedTime + '</span>';
                            }
                        },
                        { "data": "orderStatus", "orderStatus": "orderStatus", "autoWidth": true },

                    ]
                });
            });

        }
    </script>
}