html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.va-title {
  margin-top: -65px;
  margin-bottom: 20px;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  width: 21em !important;
  padding: 0 0 1.25em !important;
  font-size: 0.8rem !important;
}

.card {
  box-shadow: 0 0 0.3125rem 0 rgb(0 0 0/12%) !important;
}
.card-header {
  border-radius: 12px 12px 0 0 !important;
}

.power-btn {
  background: #ffffff;
  padding: 3px;
  border-radius: 30px;
  box-shadow: 0 0 0.3125rem 0 rgb(0 0 0/12%) !important;
  cursor: pointer;
  height: 30px;
  width: 30px;
  text-align: center !important;
  margin: 0 0 0 12px;
}

.v-bg-color {
  color: #fff !important;
  background: #492596 !important;
}

.v-color {
  color: #492596 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  padding: 5px 8px !important;
}
.dataTables_wrapper .dataTables_filter {
  padding: 0 10px !important;
}
  .dataTables_wrapper .dataTables_filter input {
    border-radius: 7px !important;
    padding: 3px !important;
    margin-left: 5px !important;
  }


.table-striped > tbody > tr:nth-of-type(even) > * {
  padding: 5px 8px !important;
  background: #fafafa !important;
}

table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
  padding: 10px;
  border: none !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: none !important;
}
.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 10px;
  margin: 0 0 10px 10px;
  font-size: 12px;
  font-weight: 600;
}
th {
  padding: 2px 0 4px 10px !important;
}

td {
  font-weight: 600;
  font-size: 12px !important;
  border: 1px solid #fff !important;
}

.table {
  border-collapse: collapse !important;
}

.input-group .form-control:focus {
  border-left: 1px solid #492596 !important;
  border-right: 1px solid #492596 !important;
}

.form-control:focus {
  color: #a085db;
  background-color: #fff;
  border-color: #a085db !important;
  outline: 0;
  box-shadow: 0 0 0 0.9px #a085db !important;
}
