@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="row mt-7">
        <div class="col-4 d-flex flex-column mx-auto">
            <div class="card m-0">
                <div class="card-body p-0">
                    <div class="card card-plain ">
                        <div class="card-header pb-0 pt-3 text-center bg-transparent">
                            <img src="~/assets/img/logo.png" class="w-25 mb-3">

                            <h5 class="font-weight-bolder text-primary ">Welcome back to Logistic</h5>
                            <p class="mb-0 text-xs">Enter your email and password to sign in</p>
                        </div>
                        <div class="card-body">
                            <form role="form">
                                <label>Email</label>
                                <div class="mb-3">
                                    <input type="email" class="form-control form-control-sm" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                                </div>
                                <label>Password</label>
                                <div class="mb-3">
                                    <input type="email" class="form-control form-control-sm" placeholder="Password" aria-label="Password" aria-describedby="password-addon">
                                </div>
                                <div class="text-center">
                                    <a href="~/Admin/Dashboard/List" class="btn bg-primary btn-sm text-white w-100 mt-4 mb-0">Sign in</a>
                                </div>
                            </form>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

