@{
    ViewData["Title"] = "Add Orders";
}
<h6 class="font-weight-bolder va-title text-primary">Add Orders</h6>

<div class="card m-0">
 
    <div class="card-body p-0">
        <form role="form">
            <div class="row">
                <div class="col-4">
                    <div class="card card-plain ">
                        <div class="card-body">
                            <label>Name</label>
                            <div class="mb-2">
                                <input type="text" class="form-control form-control-sm" placeholder="Full Name" aria-label="Name" aria-describedby="email-addon">
                            </div>
                            <label>Full Address</label>
                            <div class="mb-2">
                                <input type="text" class="form-control form-control-sm" placeholder="Full Address" aria-label="Address" aria-describedby="password-addon">
                            </div>
                            <div class="mt-4">
                                <a href="~/Admin/Orders/List" class="btn bg-success text-white btn-sm">Save</a>
                                <a href="~/Admin/Orders/List" class="btn bg-dark text-white ms-3 btn-sm">Cancel  </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-plain ">
                        <div class="card-body">
                            <label>Contact Number</label>
                            <div class="mb-2">
                                <input type="text" class="form-control form-control-sm" placeholder="Contact Number" aria-label="Contact Number" aria-describedby="email-addon">
                            </div>
                            <label>State</label>
                            <div class="mb-2">
                                <input type="text" class="form-control form-control-sm" placeholder="State" aria-label="State" aria-describedby="password-addon">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-plain ">
                        <div class="card-body">
                            <label>Email</label>
                            <div class="mb-2">
                                <input type="text" class="form-control form-control-sm" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                            </div>
                            <label>Zip</label>
                            <div class="mb-2">
                                <input type="text" class="form-control w-50 form-control-sm" placeholder="Zip" aria-label="Zip" aria-describedby="password-addon">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>


